@import "tailwindcss";

:root {
  margin: 0px !important;
  padding: 0px !important;

  --clean-blue: #c9e4ec;
  --clean-peach: #fbe4cf;
  --clean-dark: #1e2b2f;
  --clean-star: #ffd84d;
}


.hero-gradient {
  background: linear-gradient(110deg,
      var(--clean-blue) 0%,
      #e9eef0 35%,
      var(--clean-peach) 100%);
}

.hero-radius {
  border-radius: 28px;
}

.hero-shadow {
  box-shadow: 0 40px 80px rgba(0, 0, 0, 0.25);
}


/*
:root {
  margin: 0px !important;
  padding: 0px !important;
 
  --clean-blue: #c9e4ec;
  --clean-peach: #fbe4cf;
  --clean-dark: #1e2b2f;
  --clean-star: #ffd84d;
}
body{
 width: 100% !important;
}



@layer utilities {
 
  .hero-gradient {
    background: linear-gradient(110deg,
        var(--clean-blue) 0%,
        #e9eef0 35%,
        var(--clean-peach) 100%);
  }

  .hero-radius {
    border-radius: 28px;
  }

  .hero-shadow {
    box-shadow: 0 40px 80px rgba(0, 0, 0, 0.25);
  }
} */